<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hacker.eaun.cigmanotes">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <supports-screens
        android:anyDensity="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true">
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_edit"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".prefs.AppPreferences"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_preferences"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".SearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_edit"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".NoteActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_edit"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ToolsActivity"
            android:configChanges="orientation|screenSize"
            android:label="TOOLS"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".CalculatorActivity"
            android:configChanges="orientation|screenSize"
            android:label="Warehouse Calculator"
            android:parentActivityName=".MainActivity">
        </activity>

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

    </application>

</manifest>